@font-face {
  font-family: 'aku';
  src: url('aku.woff2') format('woff2'),
       url('aku.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work';
  src: url('work.woff2') format('woff2'),
       url('work.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work';
  src: url('work-semibold.woff2') format('woff2'),
       url('work-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: "work", Arial, Helvetica, sans-serif;
  margin: 24px;
  background: #fff;
  line-height: 1.45em;
}
h1, h2 {
  font-family: "aku", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 80px;
  color: #EDEDED;
  font-weight: 100;
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}

input {
  font-size: 16px;
}

.main {
    color: black;
}

.wave {
  display: none;
  top: 85px;
  left: 0;
  font-family: work;
  font-size: 50px;
  font-weight: bold;
  right: 0;
  text-align: center;
  opacity: 0.6;
}

.wave--show {
  display: block;
  position: absolute;
}

.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 60px; height: 18px; }
.col-0 { width: 90px; }
.col-2 { width: 80px; }
.col-4 { width: 100px; }
.col-5 { width: 80px; }

.parcoords text.label {
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transform: rotate(-12deg) translate(10px,-6px);
}

.panel-row {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  flex-direction: column;
}

.panel {
  display: flex;
  position: relative;
  flex: 0.5;
  flex-direction: column;
  border: 1px solid #EEE;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
  padding: 10px;
  margin-bottom: 10px;
}

.panel-title {
  position: absolute;
  left: 0;
  width: 365px;
  text-align: center;
  font-size: 50px;
  transform: rotate(-90deg) translateY(-140px);
  opacity: .1;
}

.grid {
  max-height: 378px;
  overflow: auto;
  margin-top: 18px;
}

.grid .header {
  position: absolute;
  background: white;
  left: 50%;
  font-weight: bold;
  margin-top: -18px;
  margin-left: -325px;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.row:hover {
  background-color: indigo;
  color: white;
}

@media (min-width: 1650px) {
  h1 {
    font-size: 120px;
  }
  .wave {
    top: 130px;
    font-size: 70px;
  }
  .panel-row {
    flex-direction: row;
  }
  .panel {
    padding: 25px;
    margin-bottom: 50px;
  }
  .panel + .panel {
    margin-left: 50px;
  }
}