body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 24px;
  background: #fcfcfc;
  line-height: 1.45em;
}
a {
  color: #555;
}
a:hover {
  color: #000;
}
ul {
  margin: 0 20px;
  padding: 0;
}
.dark {
  background: #222;
}
p {
  width: 560px;
}
pre {
  color: #444;
  font-family: Ubuntu Mono, Monaco, monospace;
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
}
h1 small {
  font-weight: normal;
  font-size: 0.5em;
}
h3 {
  margin-top: 40px;
}
.float {
  float: left;
}
.centered {
  text-align: center;
}
.hide {
  display: none;
}
input {
  font-size: 16px;
}

.main {
    padding: 2em;
    color: black;
}

@media (max-width: 62em) {

    .custom-menu {
        display: block;
    }

    .custom-menu-toggle {
        display: block;
        display: none\9;
    }

    .custom-menu-bottom {
        position: absolute;
        width: 100%;
        border-top: 1px solid #eee;
        background-color: #808080\9;
        z-index: 100;
    }

    .custom-menu-bottom .pure-menu-link {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
    }

    .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
        -webkit-transform: translateX(-140px);
        -moz-transform: translateX(-140px);
        -ms-transform: translateX(-140px);
        transform: translateX(-140px);
        opacity: 0;
        opacity: 1\9;
    }

    .pure-menu-horizontal.custom-menu-tucked {
        z-index: -1;
        top: 45px;
        position: absolute;
        overflow: hidden;
    }
  }

  .pure-menu-active>.pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover,
  .pure-menu-link--selected {
    background-color: #18506d !important;
  }

  .row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
  .row:nth-child(odd) { background: rgba(0,0,0,0.05); }
  .header { font-weight: bold; }
  .cell { float: left; overflow: hidden; white-space: nowrap; width: 60px; height: 18px; }
  .col-0 { width: 90px; }
  .col-2 { width: 80px; }
  .col-4 { width: 100px; }
  .col-5 { width: 90px; }

  .parcoords text.label {
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-12deg) translate(10px,-6px);
  }

  .panel-row {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
  }

  .panel {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    border: 1px solid #EEE;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
    padding: 25px;
  }

  .panel + .panel {
    margin-left: 50px;
  }

  .hide {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .row:hover {
    background-color: indigo;
    color: white;
  }